.bg-color-login {
  background-image: url("../../assets/images/homepage-hero-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-login-row {
  background-color: #242323;
  color: #FFF;
}

.img-hero-login {
  border-radius: 5px;
  height: 100%;
}

.login-title {
  color: #FFF;
  font-size: 50px;
  font-weight: 600;
}

.form-control-login {
  background-color: #4B4747;
  border: 2px solid #4B4747;
  color: #FFF;
}

.form-control-login:hover,
.form-control-login:focus {
  background-color: #4B4747;
  border: 2px solid #A6711F;
  color: #FFF;
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

.btn-login {
  width: 100%;
  background-color: #A6711F;
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10%;
}

.btn-login:hover {
  color: #FFF;
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

.login-desc-text {
  color: #FFF;
  font-size: 18px;
}

.login-desc-text-signup {
  color: #A6711F;
  font-size: 18px;
}