.bg-color-primary {
    background-color: #24222E;
    color: #FFF;
    height: fit-content;
}

.bg-color-white {
    background-color: #FFF;
    color: #24222E;
    border-radius: 5px;
}

.img-banner-login { 
    margin-left: 4%;
    border-radius: 5px;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .img-banner-login {
        margin-left: 0%;
    }
}

.login-title {
    font-size: 2em;
}

.btn-login-google {
    width: 100%;
    background-color: #24222E;
    color: #FFF;
}

.btn-login-google:hover {
    background-color: #24222E;
    color: #FFF;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px #24222E;
}

.btn-login {
    width: 100%;
    background-color: #685FC9;
    color: #000;
}

.btn-login:hover {
    box-shadow: inset 0 1px 1px #685FC9,
    0 0 8px #685FC9;
}
