#main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: #191A19;
  color: #FFF;
}

.auth-sidebar {
  background-color: #A6711F;
  height: 100vh;
  width: 550px;
}

.auth-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.auth-form-main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
}

.auth-form-content {
  width: 100%;
  max-width: 420px;
}

.signup-title {
  color: #FFF;
  font-size: 28.83px;
  font-weight: 700;
}

.agreement {
  font-size: 14.22px;
}

.agreement a {
  color: #A6711F;
  font-size: 14.22px;
  text-decoration: none;
}

.agreement a:hover {
  color: #DD911A;
}

hr.divider {
  margin-bottom: 10px;
  padding: 0;
  overflow: visible;
  border: none;
  text-align: center;
}

hr.divider:after {
  content: 'ATAU DAFTAR DENGAN';
  display: inline-block;
  position: relative;
  top: -12px;
  padding: 0 16px;
  background: #191A19;
  font-size: 16px;
}

.form-control-signup {
  background-color: #4B4747;
  border: 2px solid #4B4747;
  color: #FFF;
}

.form-control-signup:hover,
.form-control-signup:focus {
  background-color: #4B4747;
  border: 2px solid #A6711F;
  color: #FFF;
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

.form-check-input:checked {
  background-color: #A6711F;
  border-color: #A6711F;
}

.form-check-input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.btn-signup {
  width: 100%;
  background-color: #A6711F;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10%;
}

.btn-signup:hover {
  color: #FFF;
  background-color: #DD911A;
  box-shadow: inset 0 1px 1px #DD911A,
    0 0 8px #DD911A;
}

.signup-desc-text {
  color: #FFF;
  font-size: 16px;
}

.signup-desc-text-signup {
  color: #A6711F;
  font-size: 16px;
}

.signup-desc-text-signup:hover {
  color: #DD911A;
}

.login-desc-text-signup {
  color: #A6711F;
  font-size: 16px;
}

.login-desc-text-signup:hover {
  color: #DD911A;
}

@media only screen and (max-width: 1199.98px) {
  .auth-sidebar {
    width: 450px;
  }
}

@media only screen and (max-width: 991.98px) {
  #main-container {
    height: 100vh;
  }

  .auth-form-sidebar {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
  }

  .auth-sidebar {
    width: 400px;
  }

  .auth-sidebar-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    width : 100%;
  }

  .img-sidebar {
    width: 100%;
  }

  .auth-form-content {
    width: 100%;
    max-width: 320px;
  }
}

@media only screen and (max-width: 767.98px) {
  .auth-sidebar {
    display: none;
  }

  .auth-form-main {
    padding: 16px;
  }
}

.error {
  color: #bf1650;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

.signup-desc-text-login {
  color: #A6711F;
  font-size: 14.22px;
}

i:hover {
  color: #A6711F;
  cursor: pointer;
}