.bg-color-checkout {
  background-image: url("../../assets/images/homepage-hero-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkout-text-title {
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
}

.checkout-btn-user {
  background-color: #191A19;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
  border: 2px solid #FFF;
}

.checkout-btn-user:hover {
  box-shadow: inset 0 1px 1px #191A19,
    0 0 8px #191A19;
  color: #FFF;
  cursor: auto;
}

.checkout-btn-status {
  background-color: #3D9635;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
}

.checkout-btn-status:hover {
  box-shadow: inset 0 1px 1px #3D9635,
    0 0 8px #3D9635;
  color: #FFF;
  cursor: auto;
}

.checkout-desc-price {
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
}

.checkout-desc-spec {
  color: #FFF;
  font-size: 16px;
}

.checkout-form-title {
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
}

.bg-color-form-row {
  background-color: #242323;
  color: #FFF;
}

.checkout-text {
  color: #FFF;
  font-size: 20px;
}

.btn-checkout {
  width: 100%;
  background-color: #A6711F;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
}

.btn-checkout:hover {
  color: #FFF;
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}
