.container-footer {
  width: 100%;
  background-color: #242323;
}

.bg-footer {
  background-color: #242323;
  color: #FFF;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
}

.img-footer {
  width: 40%;

}

.footer-desc {
  color: #FFF;
  font-size: 16px;
}

.footer-menu {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}

.footer-list-ul {
  list-style: none;
  margin-left: -32px;
}

.footer-menu-list {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
}

.footer-menu-list:hover {
  color: #A6711F;
}

.footer-menu-list-active {
  color: #A6711F;
}

.footer-contact-icon {
  width: 15%;
  margin-right: 10px;
}

.footer-copyright {
  text-align: center;
  color: #fff;
  font-size: 14.22px;
}

.col-mobile {
  display: none;
}

@media only screen and (max-width: 991.98px) {
  .footer-desc {
    font-size: 12.80px;
  }

  .footer-menu {
    font-size: 16px;
  }

  .footer-contact-icon {
    width: 13%;
  }

  .footer-menu-list {
    font-size: 12.80px;
  }

  .footer-copyright {
    font-size: 12.80px;
  }
}

@media only screen and (max-width: 767.98px) {
  .bg-footer {
    height: 100%;
  }

  .col-footer {
    text-align: center;
  }

  .col-mobile {
    display: inline;
  }

  .col-hide {
    display: none;
  }

  .footer-contact-icon {
    width: 10%;
    margin-right: 10px;
  }
}