.bg-navbar {
  background-color: #191A19;
}

.active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #A6711F !important;
}

.nav-signup {
  color: #FFF;
}

.nav-signup:hover {
  color: #A6711F;
}

.btn-nav {
  background-color: #A6711F !important;
  color: #FFF !important;
}

.btn-nav:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}
