.bg-navbar {
  background-color: #24222E;
}

.active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #685FC9 !important;
}

.nav-signup {
  color: #FFF;
}

.nav-signup:hover {
  color: #685FC9;
}

.btn-nav {
  background-color: #685FC9 !important;
  color: #000;
}

.btn-nav:hover {
  box-shadow: inset 0 1px 1px #685FC9,
    0 0 8px #685FC9;
}

.btn-nav-text {
  color: #000;
}

.btn-nav-text:hover {
  color: #000;
}