.bg-color-instrument-detail {
  background-color: #191A19;
  color: #FFF;
}

.instrument-detail-text-title {
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
}

.instrument-detail-btn-status {
  background-color: #00897B;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
}

.instrument-detail-btn-status:hover {
  box-shadow: inset 0 1px 1px #00897B,
    0 0 8px #00897B;
  color: #FFF;
  cursor: auto;
}

.instrument-card-btn-status-close {
  background-color: #C6282B;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
}

.instrument-card-btn-status-close:hover {
  box-shadow: inset 0 1px 1px #C6282B,
    0 0 8px #C6282B;
  color: #FFF;
  cursor: auto;
}

.instrument-detail-img-banner {
  width: 100%;
  border-radius: 20px;
}

.instrument-detail-text-desc {
  color: #FFF;
  font-size: 16px;
  white-space: pre-wrap;
}

.margin-up {
  margin-top: -10px;
}

.instrument-detail-btn-sewa {
  width: 100%;
  background-color: #A6711F;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.instrument-detail-btn-sewa:hover {
  color: #FFF;
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

.instrument-detail-btn-sewa-close {
  width: 100%;
  background-color: #4B4747;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.instrument-detail-btn-sewa-close:hover {
  color: #FFF;
  box-shadow: inset 0 1px 1px #4B4747,
    0 0 8px #4B4747;
    cursor: auto;
}

.instrument-detail-text-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.instrument-detail-text-list>li {
  color: #FFF;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .instrument-card-btn-status {
    font-size: 12px;
  }

  .instrument-card-btn-status-close {
    font-size: 12px;
  }
}
