.bg-homepage-hero {
  background-image: url("../../assets/images/homepage-hero-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-hero-row {
  height: 90vh;
}

.homepage-title {
  color: #FFF;
  font-size: 60px;
  font-weight: 600;
}

.homepage-desc {
  color: #FFF;
  font-size: 24px;
}

.btn-homepage {
  background-color: #A6711F !important;
  color: #FFF;
  width: 100%;
}

.btn-homepage:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
  color: #FFF;
}

.homepage-hero-img {
  background-image: url("../../assets/images/homepage-hero.png");
  background-color: #191A19;
  color: #FFF;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 100%;
}

.homepage-hero-card {
  background-color: #242323;
  color: #FFF;
  border-radius: 20px;
  margin-top: 10%;
}

.homepage-hero-card-img {
  height: 100%;
  width: 100%;
}

.homepage-hero-card-title {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
}

.homepage-hero-card-btn-user {
  background-color: #191A19;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
  margin-top: -10px;
}

.homepage-hero-card-btn-user:hover {
  box-shadow: inset 0 1px 1px #191A19,
    0 0 8px #191A19;
  color: #FFF;
  cursor: auto;
}

.homepage-hero-card-btn-status {
  background-color: #3D9635;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
  margin-top: -10px;
}

.homepage-hero-card-btn-status:hover {
  box-shadow: inset 0 1px 1px #3D9635,
    0 0 8px #3D9635;
  color: #FFF;
  cursor: auto;
}

.homepage-hero-card-desc-price {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
}

.homepage-hero-card-btn-detail {
  background-color: #242323 !important;
  border: 2px solid #A6711F;
  color: #FFF;
  width: 100%;
  border-radius: 8px;
}

.homepage-hero-card-btn-detail:hover {
  box-shadow: inset 0 1px 1px #242323,
    0 0 8px #A6711F;
  color: #FFF;
}

.homepage-hero-card-btn-sewa {
  background-color: #A6711F !important;
  color: #FFF;
  width: 100%;
  border-radius: 8px;
}

.homepage-hero-card-btn-sewa:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
  color: #FFF;
}

/* Homepage Intro */
.bg-homepage-intro {
  background-image: url("../../assets/images/homepage-intro-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-intro-row {
  height: 100vh;
}

.homepage-intro-img {
  margin-left: -10px;
}

.homepage-card-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}

.homepage-title-intro {
  color: #FFF;
  font-size: 44px;
  font-weight: 600;
}

.homepage-desc-intro {
  color: #FFF;
  font-size: 18px;
}

/* Homepage Price */
.bg-homepage-price {
  background-color: #191A19;
  color: #FFF;
}

.homepage-price-row {
  height: 100vh;
}

.homepage-price-img {
  margin-left: 10px;
}

/* Homepage About */
.bg-homepage-about {
  background-color: #191A19;
  color: #FFF;
}

.homepage-about-row {
  height: 100vh;
}

.homepage-about-img {
  margin-left: -10px;
}

.homepage-about-icon {
  width: 20%;
  margin-right: 20px;
  border-radius: 50%;
}

.homepage-about-icon:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

/* Homepage Testimoni */
.bg-homepage-testimoni {
  background-image: url("../../assets/images/homepage-testimoni-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-testimoni-row {
  height: 100vh;
}

.homepage-testimoni-desc {
  color: #FFF;
  font-size: 18px;
}

.homepage-testimoni-user {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
}

/* Homepage CTA */
.bg-homepage-cta {
  background-image: url("../../assets/images/homepage-cta.png");
  background-color: #2B2C39;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-cta-row {
  height: 100vh;
}

.homepage-cta-title {
  color: #FFF;
  font-size: 44px;
  font-weight: 600;
}

.btn-homepage-cta {
  background-color: #A6711F !important;
  color: #FFF;
  width: 50%;
}

.btn-homepage-cta:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
  color: #FFF;
}

@media only screen and (max-width: 768px) {
  .homepage-hero-row {
    height: fit-content;
  }

  .homepage-hero-img {
    background-image: cover;
    height: fit-content;
  }

  .homepage-hero-card {
    visibility: hidden;
  }

  .homepage-intro-row {
    height: fit-content;
  }

  .btn-homepage-price {
    background-color: #FFF !important;
    color: #000;
    width: 100%;
    border-radius: 50px;
  }

  .btn-homepage-price:hover {
    cursor: auto;
  }

  .btn-homepage-price-1 {
    margin-top: 10px;
    margin-left: 0px;
  }

  .btn-homepage-price-2 {
    margin-top: 20px;
    margin-bottom: 200px;
  }

  .homepage-about-row {
    height: fit-content;
  }

  .homepage-about-img {
    background-image: cover;
    height: 50vh;
  }

  .homepage-testimoni-row {
    height: fit-content;
  }

  .homepage-cta-row {
    height: 70vh;
  }

  .homepage-cta-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }

  .btn-homepage-cta {
    width: 100%;
  }
}