.bg-homepage-hero {
  background-image: url("../../assets/images/homepage-hero-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-hero-row {
  height: 90vh;
}

.homepage-title {
  color: #FFF;
  font-size: 60px;
  font-weight: 600;
}

.homepage-desc {
  color: #FFF;
  font-size: 24px;
}

.btn-homepage {
  background-color: #A6711F !important;
  color: #FFF;
  width: 100%;
}

.btn-homepage:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
  color: #FFF;
}

.homepage-hero-img {
  background-image: url("../../assets/images/homepage-hero.png");
  background-color: #191A19;
  color: #FFF;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 100%;
}

.homepage-hero-card {
  background-color: #242323;
  color: #FFF;
  border-radius: 20px;
  margin-top: 25%;
  width: 90%;
}

.img-hero-card {
  height: 100%;
  width: 100%;
}

.homepage-hero-card-text-title {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
}

.homepage-hero-card-btn-user {
  background-color: #191A19;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
}

.homepage-hero-card-btn-user:hover {
  box-shadow: inset 0 1px 1px #191A19,
    0 0 8px #191A19;
  color: #FFF;
  cursor: auto;
}

.homepage-hero-card-btn-status {
  background-color: #3D9635;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
}

.homepage-hero-card-btn-status:hover {
  box-shadow: inset 0 1px 1px #3D9635,
    0 0 8px #3D9635;
  color: #FFF;
  cursor: auto;
}

.homepage-hero-card-text-spec {
  color: #FFF;
  font-size: 14px;
  line-height: 20%;
}

.homepage-hero-card-text-spec-more {
  color: #A6711F;
  font-size: 14px;
  line-height: 20%;
}

.homepage-hero-card-text-spec-more:hover {
  color: #A6711F;
}

.homepage-hero-card-btn-sewa {
  background-color: #A6711F !important;
  color: #FFF;
}

.homepage-hero-card-btn-sewa:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
  color: #FFF;
}

/* Homepage Intro */
.bg-homepage-intro {
  background-image: url("../../assets/images/homepage-intro-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-intro-row {
  height: 100vh;
}

.homepage-intro-img {
  background-image: url("../../assets/images/homepage-intro.png");
  background-color: #191A19;
  color: #FFF;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 100%;
}

.homepage-card-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}

.homepage-title-intro {
  color: #FFF;
  font-size: 44px;
  font-weight: 600;
}

.homepage-desc-intro {
  color: #FFF;
  font-size: 18px;
}

/* Homepage Price */
.bg-homepage-price {
  background-color: #191A19;
  color: #FFF;
}

.homepage-price-row {
  height: 100vh;
}

.homepage-price-img {
  background-image: url("../../assets/images/homepage-price.png");
  background-color: #191A19;
  color: #FFF;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 100%;
}

.btn-homepage-price {
  background-color: #FFF !important;
  color: #000;
  width: 100%;
  border-radius: 50px;
}

.btn-homepage-price:hover {
  cursor: auto;
}

.btn-homepage-price-1 {
  margin-top: 250px;
  margin-left: 40px;
}

.btn-homepage-price-2 {
  margin-top: 120px;
}

.img-icon-price {
  height: 50px !important;
  margin-right: 10px;
}

.homepage-price-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.img-banner-price {
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Homepage About */
.bg-homepage-about {
  background-color: #191A19;
  color: #FFF;
}

.homepage-about-row {
  height: 100vh;
}

.homepage-about-img {
  background-image: url("../../assets/images/homepage-about.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.homepage-about-icon {
  width: 20%;
  margin-right: 20px;
  border-radius: 50%;
}

.homepage-about-icon:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

/* Homepage Testimoni */
.bg-homepage-testimoni {
  background-image: url("../../assets/images/homepage-testimoni-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-testimoni-row {
  height: 100vh;
}

.homepage-testimoni-desc {
  color: #FFF;
  font-size: 18px;
}

.homepage-testimoni-user {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
}

/* Homepage CTA */
.bg-homepage-cta {
  background-image: url("../../assets/images/homepage-cta.png");
  background-color: #2B2C39;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-cta-row {
  height: 100vh;
}

.btn-homepage-cta {
  background-color: #A6711F !important;
  color: #FFF;
  width: 50%;
}

.btn-homepage-cta:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
  color: #FFF;
}

@media only screen and (max-width: 768px) {
  .homepage-hero-row {
    height: fit-content;
  }

  .homepage-hero-img {
    background-image: cover;
    height: fit-content;
  }

  .homepage-hero-card {
    width: 100%;
  }

  .homepage-intro-row {
    height: fit-content;
  }

  .homepage-intro-img {
    background-image: cover;
    height: 50vh;
  }

  .homepage-price-img {
    background-image: cover;
    height: 50vh;
  }

  .btn-homepage-price {
    background-color: #FFF !important;
    color: #000;
    width: 100%;
    border-radius: 50px;
  }

  .btn-homepage-price:hover {
    cursor: auto;
  }

  .btn-homepage-price-1 {
    margin-top: 10px;
    margin-left: 0px;
  }

  .btn-homepage-price-2 {
    margin-top: 20px;
    margin-bottom: 200px;
  }

  .homepage-about-row {
    height: fit-content;
  }

  .homepage-about-img {
    background-image: cover;
    height: 50vh;
  }

  .homepage-testimoni-row {
    height: fit-content;
  }

  .homepage-cta-row {
    height: fit-content;
  }

  .btn-homepage-cta {
    width: 80%;
  }
}