.bg-color-studio {
  background-color: #191A19;
  color: #FFF;
}

.carousel-border {
  border-radius: 15px;
}

.studio-carousel-img {
  width: 100%;
}

.carousel-control-prev-icon{
  margin-right: 80px;
}

.carousel-control-next-icon {
  margin-left: 80px;
}

.studio-list-container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.page-title {
  font-weight: 600;
  font-size: 28.83px;
  margin-bottom: 0;
}

.form-select {
  background-color: #4B4747;
  border: 2px solid #4B4747;
  color: #FFF;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-select:hover,
.form-select:focus {
  background-color: #4B4747;
  border: 2px solid #A6711F;
  color: #FFF;
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

.form-control-search {
  background-color: #4B4747;
  border: 2px solid #4B4747;
  color: #FFF;
}

.form-control-search:hover,
.form-control-search:focus {
  background-color: #4B4747;
  border: 2px solid #A6711F;
  color: #FFF;
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
}

.form-floating>label {
  width: 100%;
}

.input-group-text {
  background-color: #A6711F;
  border: 2px solid #A6711F;
  color: #FFF;
  cursor: pointer;
  padding: .375rem 1rem;
}

.input-group-text:hover {
  background-color: #4B4747;
  border: 2px solid #A6711F;
  color: #FFF;
}

.studio-icon-search {
  color: #A6711F;
  margin-left: 20%;
}

.studio-card {
  background-color: #4B4747;
  color: #FFF;
  border-radius: 8px;
}

.studio-card-title {
  color: #FFF;
  font-size: 20.25px;
  font-weight: 600;
}

.studio-card-btn-status {
  background-color: #00897B;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
}

.studio-card-btn-status:hover {
  box-shadow: inset 0 1px 1px #00897B,
    0 0 8px #00897B;
  color: #FFF;
  cursor: auto;
}

.studio-card-btn-status-close {
  background-color: #C6282B;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
}

.studio-card-btn-status-close:hover {
  box-shadow: inset 0 1px 1px #C6282B,
    0 0 8px #C6282B;
  color: #FFF;
  cursor: auto;
}

.studio-card-capacity {
  color: #FFF;
  font-size: 16px;
  margin-top: 5px;
}

.studio-card-img {
  width: 100%;
  border-radius: 20px;
}

.studio-card-desc-price {
  color: #FFF;
  font-size: 16px;
  margin-top: -20px;
  font-weight: 600;
}

.studio-card-btn-detail {
  background-color: #4B4747 !important;
  border: 2px solid #A6711F;
  color: #FFF;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: 600;
}

.studio-card-btn-detail:hover {
  box-shadow: inset 0 1px 1px #4B4747,
    0 0 8px #A6711F;
  color: #FFF;
}

.studio-load-more {
  background-color: #191A19 !important;
  border: 2px solid #A6711F;
  color: #FFF;
  width: 100%;
  border-radius: 8px;
}

.studio-load-more:hover {
  box-shadow: inset 0 1px 1px #191A19,
    0 0 8px #A6711F;
  color: #FFF;
}

select:focus>option:checked {
  background: #A6711F !important;
}

.studio-data-null {
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 1199.98px) {
  .studio-list-container {
    padding: 0rem;
  }

  .studio-card-btn-status {
    font-size: 12.64px;
  }

  .studio-card-btn-status-close {
    font-size: 12.64px;
  }

  .studio-card-capacity {
    font-size: 12.64px;
  }

  .studio-card-desc-price {
    font-size: 14.22px;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 991.98px) {
  .studio-card-btn-detail {
    font-size: 11.24px;
  }
  .studio-card-desc-price {
    font-size: 12.64px;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 767.98px) {
  .studio-card-btn-detail {
    font-size: 14.22px;
  }
  .studio-card-desc-price {
    font-size: 14.22px;
    margin-top: -10px;
  }
}