.bg-color-studio {
  background-image: url("../../assets/images/homepage-hero-bg.png");
  background-color: #191A19;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-studio-row {
  background-color: #191A19;
  color: #FFF;
}

.studio-carousel-img {
  height: 80vh;
}

.studio-carousel-title {
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
}

.studio-carousel-desc {
  color: #FFF;
  font-size: 18px;
}

.studio-list-title {
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
}

.studio-list-filter {
  color: #FFF;
  font-size: 20px;
}

.studio-card {
  background-color: #242323;
  color: #FFF;
  border-radius: 20px;
}

.studio-card-img {
  height: 100%;
  width: 100%;
}

.studio-card-title {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
}

.studio-card-btn-user {
  background-color: #191A19;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
}

.studio-card-btn-user:hover {
  box-shadow: inset 0 1px 1px #191A19,
    0 0 8px #191A19;
  color: #FFF;
  cursor: auto;
}

.studio-card-btn-status {
  background-color: #3D9635;
  width: 100%;
  border-radius: 20px;
  color: #FFF;
  font-size: 11px;
}

.studio-card-btn-status:hover {
  box-shadow: inset 0 1px 1px #3D9635,
    0 0 8px #3D9635;
  color: #FFF;
  cursor: auto;
}

.studio-card-list {
  list-style-type: none;
}

.studio-card-desc {
  color: #FFF;
  font-size: 14px;
  margin-left: -35px;
}

.studio-card-margin-top {
  margin-top: -16px;
}

.studio-card-desc-more {
  color: #A6711F;
  font-size: 14px;
}

.studio-card-desc-more:hover {
  color: #A6711F;
}

.studio-card-desc-price {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  margin-top: -16px;
}

.studio-card-btn-sewa {
  background-color: #A6711F !important;
  color: #FFF;
  width: 100%;
}

.studio-card-btn-sewa:hover {
  box-shadow: inset 0 1px 1px #A6711F,
    0 0 8px #A6711F;
  color: #FFF;
}